

body {
  display: flex;
  font-size: larger;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #222;
  color: #ddd;
}

a button {
  margin: 1px;
}

#phraseology {
  white-space: normal;
  text-align: left;
}

.big {
  font-family: Arial, Helvetica, sans-serif;  
  font-size: 2em;
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
}

.hidden {
  display: none;
} 

/* Grid container with specified columns and areas */
.grid-container {
  display: grid;
  grid-template-columns: 20px 160px 80px 60px 320px 60px 100px 60px;
  grid-template-rows: 60px 60px;
  gap: 2px; /* Tightened gaps */
  max-width: 900px;
  background-color: #333;
  border-radius: 8px;
  overflow: hidden;
  margin-top: 2px;
  margin-bottom: 8px;
}

/* Styling for grid (strip) items */
.grid-item {
  background-color: #444;
  color: #ddd;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid #555; /* Border for tighter look */
  box-sizing: border-box;
}

/* Custom area placements for strip */
.col1 { grid-column: 1 / 2; grid-row: 1 / span 2; } /* Left empty */
.col2 { grid-column: 2 / 3; grid-row: 1; }
.col3 { grid-column: 3 / 4; grid-row: 1; }
.col4 { grid-column: 4 / 5; grid-row: 1; }
.col5 { grid-column: 5 / 6; grid-row: 1; }
.col2-bottom { grid-column: 2 / 3; grid-row: 2; }
.col3-bottom { grid-column: 3 / 4; grid-row: 2; }
.col4-bottom { grid-column: 4 / 5; grid-row: 2; }
.col5-bottom { grid-column: 5 / 6; grid-row: 2; }
.col6 { grid-column: 6 / 7; grid-row: 1 / span 2; }
.col7 { grid-column: 7 / 8; grid-row: 1; }
.col7-bottom { grid-column: 7 / 8; grid-row: 2; }
.col8 { grid-column: 8 / 9; grid-row: 1 / span 2; }




/* container for the circuit diagram */
.container {
    height: auto;
    display: flex;
    flex-direction: column;  /* Arrange items in a column */
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* Optional: Style for the aircraft image */
#airplane {
    transition: transform 1s ease-in-out;
}

/* Circuit path and its container */
svg {
    width: 100%;
    height: auto;
}

/* Container for the road */
.road {
    width: 75%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: -10;
}

/* Dotted line (simulating dashed line) */
.dotted-line {
    position: absolute;
    top: 50%;
    width: 100%;
    border-top: 2px dashed white;
    transform: translateY(-50%);
    z-index: -5;
}