{% extends "layout.html" %}

{% block title %}
    {{ scenario.title }}
{% endblock %}

{% block main %}

<div class="text-center">
    Time: {{ scenario.formatted_time() }} | Weather: {{ scenario.weather }}
</div>

{% for strip in scenario.aircraft %}

    {% include "strip.html" %}

{% endfor %}

<div class="d-flex justify-content-center">
    <button class="btn btn-primary btn-xs" onclick="toggleDiv()">Show Phraseology</button>
</div>

<script type="text/javascript" src="/static/strip.js"></script>

{% endblock %}
