{% extends "layout.html" %}

{% block title %}
    {{ scenario.title }}
{% endblock %}

{% block main %}

<div class="text-center">
    <h4>
        Time: {{ scenario.formatted_time() }} | Weather: {{ scenario.weather }}
    </h4>
</div>

{% for aircraft in scenario.aircraft %}

    {% set index = loop.index0 %}

    {% if aircraft.strip is not none %}
        {% include "strip.html" %}
    {% else %}
        <hr>
    {% endif %}

    <div class="d-flex justify-content-between align-items-center">
        <p fs-6>
            {{ aircraft.instruction|safe }}
        </p>

        <!-- Button to toggle visibility -->
        <button class="btn btn-outline-primary btn-xs" onclick="toggleVisibility('strip-{{ aircraft.strip.ident }}')">Show Phraseology</button>
    </div>

    <!-- Hidden additional information -->
    <div class="container d-none" id="strip-{{ aircraft.strip.ident }}">
        <p class="text-start phraseology"> {{ aircraft.phraseology|safe }} </p>
        <!-- You can add more hidden info here -->
    </div>
      
    <script>
        // Function to toggle visibility
        function toggleVisibility(stripId) {
            const element = document.getElementById(stripId);
            element.classList.toggle('d-none');
        }
    </script>

{% endfor %}

<!-- <div class="d-flex justify-content-center">
    <button class="btn btn-primary btn-xs" onclick="toggleDiv()">Show Phraseology</button>
</div> -->

<script type="text/javascript" src="/static/strip.js"></script>

{% endblock %}
