{% extends "layout.html" %}

{% block title %}
    {{ scenario.title }}
{% endblock %}

{% block main %}

<div class="big">
    Current Time: {{ scenario.formatted_time() }}
</div>

<div class="big">
    {{ scenario.weather }}
</div>

{% for strip_name, strip in scenario.aircraft.items() %}

    {% include "strip.html" %}

{% endfor %}

<div class="d-flex justify-content-center">
    <button class="btn btn-primary" onclick="toggleDiv()">Show Phraseology</button>
</div>

<script type="text/javascript" src="/static/strip.js"></script>

{% endblock %}
